.contact {
  margin-top: 5rem;
  border-top: 1px solid #0090FF;
  background-color: #111927;
}

.contact div {
    margin-top: 3rem;
    text-align: center;
}

.contact p {
    padding-bottom: 2rem;
}

.contact a {
    color: #fff;
}