.companies > div {
  margin-top: 3rem;
}

.companies .accordion {
  margin: auto;
  padding: .5rem 2rem;
  border-radius: .052083333in;
  background-color: #0D2847;
  color: #fff;
  cursor: pointer;
  min-height: 54px;
  max-width: 46.875pc;
  text-align: left;
  transition: 0.4s;
}

.companies .active, .accordion:hover {
  background-color: #004074;
}

.companies .panel {
  margin: auto;
  padding: 0;
  padding-bottom: 8px;
  max-height: 0;
  max-width: 46.875pc;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.companies .panel .inner {
  padding: 1.5625pc;
  background-color: #004074;
  border-radius: .052083333in;
  margin-top: 15px;
  font-size: 15px;
}

.companies .panel .inner img{
  margin-bottom: 15pt;
}
.companies .panel .inner a,
.companies .panel .inner a:visited {
  color: #fff;
}

.companies .panel .inner .description {
  padding-top: 11.25pt;
}