#cv-wrapper h2{
	border-bottom: 5px solid #67B7D1;
}

h3{
	text-align: center;
}

#cv-wrapper p{
	font-size: 16px;
}

.button-wrapper{
	text-align: center;
}

#cv-wrapper{
	max-width: 780px;
	margin: 100px auto 0;
}

#info-photo{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

#personal-information{
	max-width: 300px;
	padding-left: 10px;
}

#resume-photo{
	margin: auto;
}
#resume-photo img{
	max-width: 150px;
}

.section{
	padding-left: 10px;
}