h3{
	text-align: center;
}

main p, main ul{
	font-size: 1.25rem;
	margin: 0;
}

.button-wrapper{
	display: flex;
	justify-content: end;
	margin-right: 30px;
}

#cv-wrapper{
	display: flex;
	justify-content: space-between;
	word-wrap: break-word;
}

#cv-left{
	margin: 0 10px 10px 15px;
	max-width: 30%;
}

#cv-right{
	display: block;
	margin: 20px 20px 2px 15px;

}

#cv-right div{
	margin-bottom: 20px;
}

@media all and (max-width: 768px) {
	#cv-wrapper{
		flex-wrap: wrap;
	}

	#cv-left, #cv-right{
		max-width: 100%;
	}
}
