main{
	margin-top: 100px;
}

h1{
	color: #0061E4;
}

main p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 10% auto;
	font-size: 20px;
	text-indent: 1em;
	text-align: justify;
}