h2 {
	text-align: center;
}

#sections-wrapper{
	margin-bottom: 80px;
}

section{
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

.project-wrapper{
	display: flex;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-right: 10%;
}

.project-descriptor{
	width: 50%;
}

.project-descriptor p{
	font-size: 20px;
	margin: auto 0 15px 5px;
	text-align: justify;
}

.project-caption{
	display: block;
	flex: right;
	margin: auto 30px auto auto;
	width: 30%;
	height: 60%;
}

.project-caption img{
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

.project-caption figcaption{
	margin-top: auto;
	text-align: center;
	font-size: 100%;
}

.button-wrapper{
	display: flex;
	justify-content: space-between;
}

.button-wrapper > .github{
	background-color: #34d058;
	text-align: center;
}

.button-wrapper > .github:hover{
	background-color: #FFF;
	border: 2px solid #34d058;
	color: #34d058;
}

#itchi{
	background-color: #DF566D;
}

#itchi:hover{
	background-color: #FFF;
	border: 2px solid #DF566D;
	color: #DF566D;
}

#sportacus{
	background-color: #8A7EB9;
}

#sportacus:hover{
	background-color: #FFF;
	border: 2px solid #8A7EB9;
	color: #8A7EB9;
}

#dracovente{
	background-color: #FAAA6D;
}

#dracovente:hover{
	background-color: #FFF;
	border: 2px solid #FAAA6D;
	color: #FAAA6D;
}

#apercu{
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #252525;
}

#apercu-body{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 20%;
}

.img-wrapper img{
	margin: 20px 20px 2px;
}

.img-rectangle {
	width:  411px;
	height: 190px;
}

.img-square{
	width:  184px;
	height:  321px;
}

.img-wrapper figcaption{
	margin-top: auto;
	text-align: center;
	color: #FFF;
}