.projects {
  margin-top: 25vh;
  padding-bottom: 5rem;
}

@media all and (width >= 1200px) {
	.projects .cards {
		margin: 0 10%;
	}
}

@media all and (width < 1200px) {
	.projects .cards {
		margin: 0 auto;
	}
}

.projects .cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .cards .card {
  width: 470px;
  height: 470px;
  border: 1px solid #104D87;
  margin: 20px;
  background-color: #0D2847;
  color: #fff;
}

.projects .cards .card img {
  width: 100%;
  height: 263px;
}

.projects .cards .card .text {
  margin-left: 1rem;
  padding: 1rem;
}

.projects .cards .card .text div {
  margin-bottom: .5rem;
}