@font-face{
	font-family: "Ubuntu";
	src:  url(../ressources/font/Ubuntu-Regular.ttf);
	font-family: "Germania One";
	src:  url(../ressources/font/GermaniaOne-Regular.ttf);
}

body{
	margin: 0px 0px;
	font-family: "Ubuntu", arial, sans-serif;
}

nav {
	display: flex;
	padding: 5px 10px;
	background-color: #252525;
}

#logo{
	border-top: none;
}

nav a{
	display: flex;
	align-items: center;
	padding: 0 20px;
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	border-top: solid;
}

h1{
	padding: 50px 0;
	font-family: "Germania One", serif;
	font-size: 60px;
	color: #0061E4;
	text-align: center;
	
}

h2{
	color: #67B7D1;
}

h4{
	color: #0061E4;
}

.button-wrapper a{
	margin: 10px 10px;
	padding: 10px 15px;
	background-color: lightblue;
	border: 2px solid #252525;
	color: #252525;
	font-size: 20px;
	text-decoration: none;
}

footer {
	margin-top: 20px;
	background-color: #CCF;
}

#liens-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
}

.footer-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-column a{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	color: #252525;
	text-decoration: none;
}

.footer-column a:hover{
	color: #0061E4;
}