@font-face{
	font-family: "ubuntu";
	src:  url(../ressources/font/Ubuntu-Regular.ttf);
}

body{
	margin: 0px 0px;
	font-family: "ubuntu", arial;
}

nav {
	display: flex;
	padding: 5px 10px;
	background-color: #252525;
}

#logo{
	border-top: none;
}

nav a{
	display: flex;
	align-items: center;
	padding: 0 20px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	border-top: solid;
}

h1{
	text-align: center;
}

h2{
	color: royalblue;
}

footer {
	border-top: 0.5em solid #CCF;
	margin-top: 20px;
}

#liens-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}