@font-face{
	font-family: "Inter";
	src:  url(../resources/font/Inter.ttf);
	font-family: 'Oswald';
	src:  url(../resources/font/Oswald.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0 0;
	font-family: "Inter", sans-serif;
	/*background: linear-gradient(#1a191d 30%,#1d1f35 150%);*/
  background-color: #0D1520;
  color: #fff;
}

h1 {
	font-family: "Oswald", sans-serif;
	text-align: center;
	font-size: 8vw;
}

h2 {
  font-family: "Oswald", sans-serif;
	text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}

i {
  color: #fff;
}

.badge {
  display: inline;
  padding: .25rem .75rem;
  background-color: #2870BD;
  border-radius: 9999px;
  font-weight: 600;
  font-size: .875rem;
}

.badge a {
  color: #fff;
  text-decoration: none;
}

.introduction {
  padding-top: 25vh;
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.introduction p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
	font-size: 30px;
}

.introduction .social-networks {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 30px 4% auto;
}

.introduction .social-networks i {
  color: #fff;
}

.expertise h2 {
  margin-bottom: 3rem;
}

.expertise .cards {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.expertise .cards .card {
    width: 300px;
    height: 200px;
    border: 2px solid white;
    padding: 1rem;
}

.expertise .cards .card p {
    font-family: "Oswald", sans-serif;
    color: #fff;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.expertise .cards .card ul {
    margin-left: 1rem;
}

footer {
  background-color: #0D1520;
}

footer .up-page {
  position: relative;
  top: -18.75pt;
  margin: auto;
  width: 40px;
  padding: .5rem 0;
  background-color: #2870BD;
  text-align: center;
  cursor: pointer;
}

footer div {
  text-align: center;
  margin-bottom: 1rem;
}

footer .links {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .links div{
  background-color: #0D2847;
  padding: .5rem 10px;
  text-align: center;
}